* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", "serif";
}
.background {
  background-color: #dedede;
}
.brand-nav {
  display: flex;
}
.brand-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 4px 2px 0px 2px;
}
.brand-menu span {
  width: 13px;
  background-color: rgb(243, 115, 10);
  height: 2px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.brand-nav {
  color: #a6a2a2;
  letter-spacing: 4px;
  font-size: large;
  margin-top: 5px;
}
.currency {
  background-color: rgb(243, 115, 10);
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-size: 10px;
}
.Tools {
  display: flex;
}
.Tools div {
  font-weight: bold;
}
.currency-info-container {
  background-color: #a6a2a2;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 20px;
}

.Tools div {
  margin-right: 20px;
  padding-top: 10px;
}
.Tools button {
  background-color: rgb(243, 115, 10);
  border: none;
  padding: 0px 15px;
  border-radius: 10px;
}
.image-container {
  margin-top: 10px;
  background-image: url("/images/Untitled design (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  padding-top: 50px;
}
.converter-section {
  color: #f00;
  padding: 30px 30px 10px 30px;
  margin: 0px 20px;
  background-color: rgba(223, 111, 30, 0.5);
  border-radius: 8px;
  color: #fff
}
.converter-section p {
  font-size: 13px;
}

.input-sec img {
  width: 20px;
}

.second-section {
  background-color: #eee4e4;
  margin: 0px 20px;
  border-radius: 20px;
  margin: 0px 20px;
}

.currency-logo {
  width: 25px;
  border-radius: 8px;
}
.grid-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.convert-button {
  text-align: center;
  padding-top: 15px;
}
.convert-btn {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(243, 115, 10);
  border: 1px solid #fff;
  color: #fff;
}
.convert-btn:hover {
  background-color: rgba(168, 81, 9, 0.5);
}
.outline {
  outline: none;
  background-color: #fff;
}
.calendar {
  background-color: #fff;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 90% 10%;
}
.mid-market {
  margin-top: 15px;
}
.flex-date {
  display: flex;
  justify-content: space-around;
  gap: 10px
}
.calendar-date {
border-right: 1px solid rgb(243, 115, 10);
margin-right: 5px;
padding-right: 5px;
}
.demo-image {
  width: 20px;
  height: 22px;
  border-radius: 5px;
  margin-right: 10px;
}
.demo-header {
  background-color: #084879;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top:30px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  color: #fff;
}
.grid-conversion {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}
.input-field {
  outline: none;
}
.input-sec1 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 2px 5px;
}
.input-sec2 {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 2px 5px;
}
.input-sec1 input, select, .input-sec2 input, select {
  border-left: none;
  border-bottom: none;
  border-top: none;
  padding-right: 5px;
  margin-right: 5px;
}
.outline {
  border-right: none;
  outline: none;
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow h1 {
  color: black;
  font-size: 20px;
}
.arrow2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.arrow2 h1 {
  color: black;
  font-size: 20px;
}
.input-field {
  border-right: 1px solid rgb(243, 115, 10);
}
footer {
  background-color: #084879;
  margin-top: 10px;
  padding: 10px 10px 35px 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.brand-footer {
  display: flex;
  color: #d4cbcb
}
.footer-brand-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 4px 2px 0px 2px;
  color: #eee4e4;
}
.footer-brand-menu span {
  width: 13px;
  background-color: rgb(243, 115, 10);
  height: 2px;
}
.footer-currency {
  background-color: rgb(243, 115, 10);
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-size: 10px;
  width: 100px;
  font-size: 5px;
}
.footer-text {
  margin-bottom: 0px;
}
.form-field {
  background-color: #a6a2a2;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 20px 20px 20px;
}
.form-field input, textarea {
  background-color: rgba(243, 115, 10, 0.8);
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: #fff;
  outline: none;
  width: 100%;
  margin-top: 10px;
}
.commit-button {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.commit-button button {
  border: 1px solid #fff;
  background-color: rgba(243, 115, 10, 0.8);
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
}
.commit-button button:hover {
  cursor: pointer;
  background-color: rgba(243, 115, 10, 0.4);
}
.calendar {
  padding-left: 10px;
}
@media (max-width: 760px) {
  .grid-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrow {
    display: none;
  }
  .toolsExchane {
    display: none;
  }
  .calendar-date {
    font-size: 9px;
  }
  .mid-market {
    font-size: 12px;
  }
  .converter-section h3 {
    font-size: 18px;
  }
  .currency-info-container {
    margin-top: 15px;
  }
  .foot-h {
    font-size: 15px;
  }
  .foot-p {
    font-size: 10px;
  }
  .input-field {
    width: 100%;
  }
  }
  @media (min-width: 760px) {
    .grid-input-fields {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 15px;
    }
    .arrow2 {
      display: none;
    }
    .arrow {font-size: 2px;}
    .converter-section {
      margin: 0px 10%;
    }
    .calendar-date {
      font-size: 12px;
    }
    .second-section {
      margin: 0px 10%;
    }
    .grid-currency-info-container {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5px;
      margin: 0px 10%;
    }
    .grid-input-fields {
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .grid-input-fields input {
      width: 100%;
    }
    .gridcomment {
      display: grid;
      grid-template-columns: auto auto;
      gap: 15px
    }
    .form-field {
      margin: 15px 12% 15px 12%
    }
}